.divider {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  text-align: center;
  padding: 2vh 4vw;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

.divider h2 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 5px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.divider p {
  font-size: 20px;
  font-weight: 300;
  opacity: 0.95;
}

.divider p b {
  font-weight: 700;
}

@media only screen and (max-width: 1250px) {
  .divider h2 {
    font-size: 28px;
  }
  .divider p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .divider h2 {
    font-size: 24px;
  }
  .divider p {
    font-size: 16px;
  }
}