.productdisplay {
    display: flex;
    margin: 4vh 12vw;
}

.productdisplay-left {
    display: flex;
    gap: 1vw;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.productdisplay-img-list > * {
    width: 6vw;
    height: 6vw;
    object-fit: cover;
    border-radius: 16px;
}

.productdisplay-img-list > *:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.025);
    transition: 0.25s;
}

.productdisplay-img-list-expand {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height: 6vw;
    border-radius: 16px;
    background-color: #171717;
    font-size: 1.5vw;
    color: white;
    z-index: 2;
}

.productdisplay-img-list-expand img {
    filter: blur(1px);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
    border-radius: 16px;
}

.productdisplay-img-list-expand-icon{
    position: absolute;
    align-items: center;
    color: white;
    z-index: 1;
}

.productdisplay-main-img {
    width: 20vw;
    height: 24vw;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.productdisplay-right {
    margin: 0 0 0 2vw;
    gap: 2vh;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1 {
    color: #171717;
    font-size: 2rem;
}

.productdisplay-right h2 {
    color: #3a3a3a;
    font-size: 1.2rem;
}

.productdisplay-right-rating {
    display: flex;
    align-items: center;
    gap: 0.5vh;
}

.productdisplay-right-rating-stars {
    color: darkorange;
}

.productdisplay-right-prices {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
}

.productdisplay-right-stock {
    color: green;
    font-size: 1rem;
    font-weight: 700;
}

.productdisplay-right-price {
    font-size: 1.2rem;
    font-weight: 700;
    color: red; /* TODO: Color variable */
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
}

.productdisplay-right-price-old {
    color: grey;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: line-through;
}

.productdisplay-right-details {
    font-size: 1rem;
}

.productdisplay-right-details p {
    font-weight: 400;
}

.productdisplay-right-size a {
    color: #3a3a3a;
    text-decoration: none;
    font-weight: 700;
    transition: 0.25s;
}

.productdisplay-right-size a:hover {
    color: orange;
}

.productdisplay-right-size a:active {
    color: darkorange;
}

.productdisplay-right-sizes {
    display: flex;
    gap: 1vw;
}

.productdisplay-right-sizes div {
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 5px;
    min-width: 32px;
    background-color: #f5f5f5;
    color: #171717;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.productdisplay-right-sizes div:hover {
    background-color: #e5e5e5;
    transform: scale(1.025);
    transition: 0.25s;
}

.productdisplay-right-sizes div:active {
    background-color: #d5d5d5;
    transform: scale(0.975);
    transition: 0.25s;
}

.productdisplay-right-category-buttons {
    display: flex;
    gap: 1vw;
}

.productdisplay-right button {
    padding: 2vh 2vw;
    min-height: 32px;
    border: none;
    border-radius: 5px;
    background-color: grey;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.productdisplay-right button:hover {
    background-color: red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.025);
    transition: 0.25s;
}

.productdisplay-right button:active {
    transform: scale(0.975);
    transition: 0.25s;
}

.productdisplay-right-category-buttons-cart {
    background-color: #171717 !important;
}

.productdisplay-right-category-buttons-cart:hover {
    background-color: darkorange !important;
}

.productdisplay-right-filters {
    color: grey;
}

.productdisplay-right-filters span{
    font-weight: 600;
}

/* Add a media query for smaller screen sizes */
@media only screen and (max-width: 1400px) {
    .productdisplay {
        flex-direction: column;
        gap: 1vw;
    }

    .productdisplay-left {
        margin: auto;
    }
}

/* Add a media query for smaller screen sizes */
@media only screen and (max-width: 1250px) {
    .productdisplay-img-list > * {
        width: 12vw;
        height: 12vw;
        object-fit: cover;
    }

    .productdisplay-img-list-expand {
        font-size: 2.5vw;
    }

    .productdisplay-main-img {
        width: 100%;
        height: 48vw;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .productdisplay {
        margin: 4vh 8vw;
    }

    .productdisplay-left {
        margin: auto;
        gap: 2vw;
    }

    .productdisplay-img-list {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }
    
    .productdisplay-img-list > * {
        width: 16vw;
        height: 16vw;
        object-fit: cover;
    }

    .productdisplay-img-list-expand {
        font-size: 4vw;
    }

    .productdisplay-main-img {
        width: calc(100% - 4vw); /* Adjust width to account for padding and border */
        width: 64vw;
        height: 72vw;
        object-fit: cover;
    }

    .productdisplay-right {
        margin: 2vh 0;
    }

    .productdisplay-right h1 {
        font-size: 1.4rem;
    }

    .productdisplay-right-rating {
        gap: 1vh;
    }

    .productdisplay-right-sizes div {
        width: 100%;
    }

    .productdisplay-right-category-buttons {
        flex-direction: column;
        gap: 2vw;
    }

    .productdisplay-right-category-buttons button {
        height: 6vh;
        gap: 1vw;
        
    }

    .productdisplay-right-filters {
        display: none;
    }
}