.item {
  width: 280px;
  background: rgb(252, 252, 252); /* TODO: Color variable */
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-bottom: auto;
}

.item * {
  text-decoration: none;
}

.item-image-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
  height: 320px;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
}

.item-image {
  overflow: hidden;
  border-top-left-radius: 16px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.item-description {
  display: flex;
  flex-direction: column;
  /* gap: 2px; */
  padding: 16px;
}

.item-description-title {
  font-weight: 500;
    color: #171717;
}

.item-description-reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  color: darkgrey;
}

.item-description-reviews * {
  font-size: 14px;
}

.item-description-reviews-stars {
  color: darkorange;
}

.item-description-reviews-text {
  font-size: 12px;
  font-weight: 500;
}

.item-stuff {
  flex: 1;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  padding: 0 16px;
}

.item-stuff > * {
  display: flex;
  align-items: center;
}

.item-prices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.item-price {
  color: #171717; /* TODO: Color variable */
  font-weight: 600;
}

.item-price.reduced {
  color: red;
  font-weight: 700;
}

.item-price-old {
  color: grey;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}

.item-status {
  gap: 8px;
}

.item-status * {
  font-size: 24px;
}

.item-favourite {
  color: red;
}

.item-cart {
  color: orange;
}

.item:hover {
  transform: scale(1.025);
  transition: 0.6s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
  .item-description {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 420px) {
  .item-stuff {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 300px) {
  .item-prices {
    display: flex;
    flex-direction: column;
  }
}
