.loginsignup {
    width: 100%;
    min-height: 80vh;
}

.loginsignup-container {
    width: 18vw;
    margin: auto;
    padding: 6vh 0;
}

.loginsignup-container hr {
    margin: 20px 0;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 30px;
}

.loginsignup-fields input {
    padding: 12px 24px;
    font-weight: 600;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
}

.loginsignup-fields input:focus {
    border: 1px solid #171717;
}

.signup-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: auto;
    width: 100%;
}

.loginsignup-fields button {
    padding: 12px 24px;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: grey;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.loginsignup-fields button:hover {
    background-color: rgb(255, 145, 0);;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
    transform: scale(1.025); /* Scale the button by 5% */
    transition: 0.25s;
}

.loginsignup-error {
    color: red;
}

.loginsignup-login {
    color: #171717;
    font-size: 18px;
    text-align: center;
}

.loginsignup-login-link {
    color: rgb(255, 145, 0);
    font-weight: 600;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    gap: 16px;
    color: grey;
    font-size: 0.8rem;
    font-weight: 500;
}

/* Add a media query for smaller screen sizes */
@media only screen and (max-width: 1400px) {
    .loginsignup-container {
        width: 25vw;
    }
}

/* Add a media query for smaller screen sizes */
@media only screen and (max-width: 1250px) {
    .loginsignup-container {
        width: 35vw;
    }
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .loginsignup-container {
        width: 60vw;
    }

    .signup-buttons {
        flex-direction: column;
    }
}
