.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcatergory-sort {
    margin: 2vh 4vw;
}

.shopcategory-sort-button {
    text-align: center;
    width: 12vh;
    padding: 10px 20px;
    color: white;
    background-color: #171717;
}

.shopcategory-products-parent {
    padding: 2vh 0;
}

.shopcategory-products {
    display: flex;
    flex-wrap: wrap; /* Prevent items from wrapping to the next line */
    justify-content: center; /* Center items horizontally */
    gap: 2vh;
    max-width: 100%; /* Ensure the container doesn't exceed the width of its parent */
}

.shopcategory-loadmore {
    margin: 4vh 0;
}

.shopcategory-loadmore-results {
    text-align: center;
}

.shopcategory-loadmore-results span {
    font-weight: 600;
}

.shopcategory-loadmore-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 12vh;
    padding: 8px 16px;
    background-color: #171717;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .shopcategory-indexSort {
        margin: 0 8vw;
    }
}