.navbar-parent {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
}

.navbar * {
    text-decoration: none;
    color: #171717;
}

.navbar-mobile {
    display: none;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-logo img {
    width: 40px;
    height: 40px;
}

.nav-logo p {
    color: #171717;; /* TODO - Color variables */
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
    color: grey; /* TODO - Color variables */
    font-size: 20px;
    font-weight: 500;
    padding: 0;
}

@keyframes wiggleSmall {
    0% {
      transform: rotate(0deg);
    }
    5% {
      transform: rotate(7deg);
    }
    10% {
      transform: rotate(-7deg);
    }
    15% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-menu li:hover {
    animation: 2.5s ease 0s normal forwards 1 wiggleSmall;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 8px;
    background: darkorange; /* TODO - Color variables */
}

.nav-state {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-state * {
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #171717; /* TODO - Color variables */
    text-decoration: none;
}

.nav-state > *:hover{
    transform: scale(1.1);
    transition: 0.25s;
}

.nav-state-flag {
    border-radius: 50%;
}

.nav-state-cart-count {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    background: darkorange;
    color: white;
    line-height: 20px;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .navbar-mobile {
        display: flex;
    }

    .nav-menu-large {
        display:none;
    }
}