.filters {
  display: flex;
  flex-direction: column;
  top: 0;
  gap: 4vh;
  padding: 4vh;
}


.filters * {
  accent-color: #171717;
}

.filters-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.filters-form > * {
  display: flex;
  flex-direction: column;
}

.filters-form-label {
    font-weight: 600;
}

.filters-form-reduced-options {
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.filters-form-price-value {
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.filters-form-price-value input {
    width: 100%;
}

.filters-form-tags-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vh;
}
.filters-form-reduced-options label,
.filters-form-tags-options label,
.filters-form-colors-options label {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

@media screen and (max-width: 768px) {
  .filters {
    padding: 0;
    background-color: lightgrey;
  }

  /* .filters-form {
    display: none;
  } */

  .toggle-button {
    display: block;
    cursor: pointer;
    padding: 2vh;
    font-weight: 600;
    font-size: 1.125rem;
    border: none;
    width: 100%;
    background-color: darkgrey;
    color: white;
  }

  .filters-collapsed.toggle-button-chevron {
    transform: rotate(180deg);
  }

  .filters.collapsed .filters-form {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .toggle-button {
    display: none;
  }
}
