.shopcategory {
  display: flex;
  flex-direction: row;
}

.shopcategory-left {
  /* flex-basis: 15%; */
  display: flex;
  flex-direction: column;
  gap: 4vh;
  border-right: 1px solid #f0f0f0;
}

.shopcategory-right {
  /* flex-basis: 85%; */
  display: flex;
  flex-direction: column;
  /* gap: 4vh; */
  /* margin: 4vh 0; */
}

.shopcategory-products-parent {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 4vh 0;
}

.shopcategory-query {
  text-align: center;
}

.shopcategory-showmore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shopcategory-showmore-results {
  text-align: center;
}

.shopcategory-showmore-results b {
  color: #171717;
}

.shopcategory-showmore-button {
  color: grey;
}

.shopcategory-showmore-button p:hover {
  color: #3a3a3a;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.shopcategory-showmore-button p:active {
  color: #171717;
  transform: scale(0.975);
}

@media only screen and (max-width: 1250px) {
  .shopcategory {
    flex-direction: column;
  }

  .shopcategory-sort-search-bar {
    width: 35vh;
    min-width: 35vw;
  }
}

@media screen and (max-width: 768px) {
  .shopcategory-left {
    /* flex-basis: 17.5%; */
    display: flex;
    flex-direction: column;
    gap: 4vh;
    border: none;
    /* border-bottom: 1px solid #f0f0f0; */
  }

  .shopcategory-sort {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .shopcategory-sort-search-bar {
    width: 80vw;
  }
  .shopcategory-sort-button {
    width: 20vw;
    min-width: 12vh;
  }
  .shopcategory-products {
    gap: 4vh;
  }
}
