.shopcategory {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  margin: 4vh 0;
}

.shopcategory-filter {
  display: flex;
  margin: 0 8vw;
  justify-content: space-between;
  align-items: center;
  gap: 4vh;
}

.shopcategory-filter-search-bar {
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  width: 100%;
  width: 32vh;
  min-width: 20vw;
  gap: 4px;
}

.shopcategory-filter-search-icon {
  color: lightgrey;
}

.shopcategory-filter-search input {
  width: calc(100% - 24px); /* Adjust width to account for padding and border */
  color: grey;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}

.shopcategory-filter-button {
  text-align: center;
  width: 16vw;
  max-width: 16vh;
  padding: 10px 20px;
  color: white;
  background-color: #171717;
}

.shopcategory-products-parent {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 4vh 0;
}

.shopcategory-query {
  text-align: center;
  margin-bottom: 2vh;
}

.shopcategory-showmore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shopcategory-showmore-results {
  text-align: center;
}

.shopcategory-showmore-results b {
  color: #171717;
}

.shopcategory-showmore-button {
  color: grey;
}

.shopcategory-showmore-button p:hover {
  color: #3a3a3a;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.shopcategory-showmore-button p:active {
  color: #171717;
  transform: scale(0.975);
}

@media only screen and (max-width: 1250px) {
  .shopcategory-filter-search-bar {
    width: 32vh;
    min-width: 32vw;
  }
}

@media screen and (max-width: 768px) {
  .shopcategory-filter {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .shopcategory-filter-search-bar {
    width: 80vw;
  }
  .shopcategory-filter-button {
    width: 20vw;
    min-width: 12vh;
  }
  .shopcategory-products {
    gap: 4vh;
  }
}
