.reviewlist {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.reviewlist-reviews {
  display: flex;
  flex-direction: column;
  gap: 2vh;

}

.reviewlist-showmore {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: grey;
}

.reviewlist-showmore p:hover {
  color: #3a3a3a;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.reviewlist-showmore p:active {
  color: #171717;
  transform: scale(0.975);
}

