.products {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: white;
  padding: 2vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.products h2 {
  margin: 1vh 0;
}

.products p {
  margin: 0;
}

.products > * {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.products input,
.products select,
.products-add-description textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.products input:focus,
.products select:focus,
.products-add-description textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.products-add-description textarea {
  resize: none;
  height: 128px;
}

.products-add-price {
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

.products-add-price-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.products-add-image-input {
  width: fit-content;
}

.products-add-image img {
  cursor: pointer;
}

.products-add-image img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 8px;
}

.image-preview-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vh;
}

.image-preview-container .image-preview {
  position: relative;
}

.image-preview-container .image-preview-remove {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.image-preview-container .image-preview-remove:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.products-add-image input {
  cursor: pointer;
}

.products-add-tags .tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.products-add-tags .tags-container .tag {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #f1f1f1;
  padding: 0.3rem 0.5rem;
  border-radius: 16px;
}

.products-add-tags .tags-container .tag-remove {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.products-add-tags .tags-container .tag-remove:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.products-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #171717;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 384px) {
  .products-add-price {
    flex-direction: column;
  }
}
