.popular {
    padding: 0 4vw;
}

.popular-category {
    margin-top: 4vh;
}

.popular h1 {
    color: #171717; /* TODO: Color variables */
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.popular-list-parent {
    position: relative;
    display: flex;
    justify-content: center;
}

.popular-list {
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer / Edge */
}

.popular-list::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers (Chrome, Safari, etc.) */
}

@keyframes wiggleSmall {
0% {
    transform: rotate(0deg);
}
5% {
    transform: rotate(7deg);
}
10% {
    transform: rotate(-7deg);
}
15% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(0deg);
}
}

.popular-arrow {
    position: absolute;
    top: 40%;
    width: 80px; /* Adjust arrow width */
    height: 80px; /* Adjust arrow height */
    opacity: 0.7;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    /* z-index: 1; */
    animation: wiggleSmall 4s infinite;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular-item {
    display: flex;
    gap: 30px;
    padding: 16px 0;
}

@media screen and (max-width: 768px) {
    .popular h1 {
        font-size: 32px;
    }
}